body {
    font-family: 'Oswald', 'Futura', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}


div.container {
    position: relative;
    top: 100px;
    background-color: #78909C;
    border-radius: 10px;
    padding: 1px 10px 5px 10px;
}

div#questions {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    margin-left: 5px;
    color: floralwhite;
}

.container h2 {
    border-bottom: 1px solid #f7f3f3;
    color: #dce6e8;
    font-weight: lighter;
}

#username {
    position: relative;
    top: 50px;
    left: 20px;
    width: 400px
}

#timer {
    float: right;
    position: relative;
    top: 70px;
    left: -50px;
    width: 400px
}



#username h2,
#timer h2 {
    display: inline;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: normal;
}


#username h2 {
    color: #969696;
}

h2#time {
    color: #FF8484;
    float: right;
    margin: 0;
}

#next,
#prev,
#submit,
#changeAnswer,
#reset {
    width: auto;
    height: 30px;
    margin-right: 20px;
    display: inline;
    color: #106f8a;
    font-weight: lighter;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: ease 0.5s;
}

#next {
    position: absolute;
    left: 200px;
}

#submit,
#reset {
    float: right;
}

button:hover {
    font-weight: bolder;
    background-color: #fff;
}


@media only screen and (max-width: 500px) {
    div.container {
        min-width: 400px;
    }
    #timer {
        left: -5px;
    }
}

@media only screen and (min-width: 501px) and (max-width: 767px) {
    div.container {
        max-width: 550px;
        margin: 20px auto 20px auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    div.container {
        max-width: 600px;
        margin: 20px auto 20px auto;
    }
}

@media only screen and (min-width: 960px) {
    div.container {
        max-width: 600px;
        margin: 20px auto 20px auto;
    }
}