div.container {
    width: 600px;
    background-color: rgba(191, 191, 191, 0.28);
    border: 1px solid #000;
    border-radius: 10px;
    padding: 0px 10px 5px 10px;
}

div#questions {
    font-size: 18px;
    line-height: 1.5em;
    margin-left: 5px;
}

h2 {
    border-bottom: 1px solid #887e7e;
    color: #14BAEA;
    font-weight: lighter;
}

#submit {
    margin: 10px 10px 5px 0px;
    border-radius: 5px;
    color: #106f8a;
    font-weight: bold
}